#planetsT
{
  text-align: center;
  width: 75%;
  background-color: #4c65c7;
}
#headingOfPP
{
  text-align: center;
  font-size:80px;
  color: #3747d6;
  text-shadow: 1px 1px 2px black, 0 0 25px #202766, 0 0 5px #202766;
}
.PlanetPic
{
  float: left;
  width: 200px;
  height: auto; 
}
.planetImages
{
  width: 2%;
}
.planetA
{
  text-align: center;
  width:10%;
}
body
{
  background: no-repeat center/cover url("../images/Background.jpg") ; 
}
table,th,td
{
  border: 1px solid black;
}
table{
  width:80%;
  margin-left: auto;
  margin-right: auto;
}
th
{
  font-size:20px;
  font-weight: bold;
}
th:hover
{
  background-color:#3836a6;
  color:#d9d5d0;
}
td:hover
{
  background-color: #3836a6;
  color:#d9d5d0;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
tr:hover
{
  background-color:#140e70;
}

